
.row .card{
   
     margin: 30px;
     border-style:none;
     
 }
   
 img{
     border-radius: 50% !important;
     object-fit: cover;
     
     height: 400px;
     transition: 1s;
     &:hover{
          transform: scale(0.8);
          border-radius: 30%!important;


     }
 }
 .btn{
      background: #000;
      border-style:none;
      
 }
h5{
     text-align: center;
}
// #text{
//      background: #000;
//      color: white;
//      padding: 30px;
//      border-radius: 50%;
// }



 
 
